# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env
.env.*
!.env.example

# Build outputs
dist/
build/
out/
.next/
.nuxt/
.vercel/
.serverless/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output/

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.cache/
.temp/
*.swp
*.swo
.vercel
.turbo

# TypeScript
*.tsbuildinfo
